<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Exam</title>
</head>
<body>
    <div id=wrapper>
        <header>
            <h1 id=head>Update the Details!</h1>
            <a class=navLink href="/landing">Home</a>
            <a class=navLink href="/logout">LOGOUT</a>
        </header>
        <div id=regForm>
            <form action="/ride/update/{{ride.id}}" method='POST'>
                <div class="formGroup">
                    <label for="pick_up">Pick Up Location: </label>
                    <input class=formInput type="text" name="pick_up" value="{{ride.pick_up}}">
                </div>
                <div class="formGroup">
                    <label for="details">Details: </label>
                    <textarea class=formInput type="text" name="details" value="{{ride.details}}"></textarea>
                </div>
                <button class=formButton>Update</button>
            </form>
        </div>
    </div>
</body>
</html>